<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Product</title>
</head>
<body>
    <div align="center">
        <h1>Add a product </h1>
        <form action="{{url_for('add_product')}}" method="POST" enctype="multipart/form-data">
            <input type="text" id="productID" name="productID" placeholder="Enter the product Code" class="textbox" />
            <input type="text" id="productName" name="productName" placeholder="Enter the product Name" class="textbox" />
            <input type="file" id="productImg" name="productImg" placeholder="Select an image" class="textbox" />
            <input type="text" id="price" name="price" placeholder="Enter the price" class="textbox" />
            <input type="text" id="description" name="description" placeholder="Details about the product" class="textbox" />
            <input type="text" id="inStock" name="inStock" placeholder="Remaining items in the stock" class="textbox" />
            
            
            <input type="text" id="category" name="category" placeholder="Which category the product is" class="textbox" />
          
            
            <input type="text" id="ratings" name="ratings" placeholder="Product Rating" class="textbox" />
            <input type="text" id="weight" name="weight" placeholder="Weight" class="textbox" />
            
            <input type="submit" class="btn" value="Add Product" />
        </form>
    </div>
    <div>
        <h3>Instructions for adding a Product</h3>
        <p>1.You have to choose a category for your product</p>
        <p>2.The category must have a category ID specified by our system</p>
        <p>3.Currently there are 7 categories for your product</p>
        <p>4.You can choose from the specified category</p>
        <p>List of categories:</p>
        <ol>
            <li>Babies and Toys => (B&T)</li>
            <li>Beverages => (Bev)</li>
            <li>Electronics & Accessories => (EA)</li>
            <li>Groceries => (GF)</li>
            <li>Health and Beauty => (HAB)</li>
            <li>Kitchen Appliances => (KApp)</li>
            <li>Sports and Outdoors => (Sp&O)</li>
        </ol>
        <p>5.While adding products, the category of the product must be one of the above</p>
        <p>6.You should enter the category code specified above, not the category's name itself</p>
        <p>7.If no category matches your product, you can specify it as "other"</p>
    </div>
</body>
</html>