<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        
    <h1 align="center">Hi! {{session.username}}</h1>
    <h4>Here are your recent orders</h4>

    {% for item in my_order %}

    <!-- If possible represent these products on a html table  -->
    <div>
        <img src="{{url_for('static', filename='uploads/'+ item.productImg)}}" alt="product img">
        <p>Order Number: {{item.orderNum}}</p>
        <h4>{{item.productName}}</h4>
        <p>Price: Rs.{{item.price}}</p>
        <p>Quantity: {{item.quantityOrdered}}</p>
        <p>Total: {{item.total}}</p>
        <p>Ordered On: {{item.orderedDate}}</p>
        <br />
    </div>
    <a href="{{url_for('cancel', id=item.orderNum)}}">Cancel Order</a>
    {% endfor %}

    <script>

    </script>
</body>
</html>