
<!-- Search Bar -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-  
        scale=1">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-
        awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1><center>Search</center></h1>
        <form class="example" method="post" action="" 
         style="margin:auto;max-width:600px">
            <input type="text" placeholder="Search" name="product">
            <button type="submit"><i class="fa fa-search"></i>Search
            </button>
        </form>
        <p></p>
        <center>
        {% for item in product %}
            <tr>
                <td>{{item.productName}} </td>
                </br>
            </tr>
        {% endfor %}
        </center>
    </body>
</html>